/*
!/.gitignore
!/src/
!/manifest.json
!/pack_icon.png
!/LICENSE
!/scripts/
/scripts/*
!/scripts/Main.js
!/scripts/index.js
!/scripts/mc_dependencies/
!/scripts/mc_dependencies/**
!/scripts/mc_mob/
!/scripts/mc_mob/**

/src/*
!/src/mc_dependencies/
!/src/mc_dependencies/**
!/src/mc_mob/
!/src/mc_mob/**
!/src/index.ts
!/src/Main.ts

*.md
!/README.md
